nav{
    background-color: rgb(8,25,32);
   text-align: center;
    padding: 15px;
    
    
    
    
}
nav a{

    margin: 10px ; 
    color: rgb(255,70,84);
    text-decoration: none;
}

.input{
    float: right;
    ;
}

